<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/contato.css">
	 <style type="text/css">
#menuu {
	height: 60px;
	background-color: black;
	color: white;
}	

#menuu ul {
	padding:25px;
	margin:20px;
	list-style:none;
	font-size: 20px;
	color: white;
	word-spacing: 35px;
	font-family:"Yu Gothic Light";
	float: right;
	text-decoration: none;
	position: relative;
	top: -30px;
}

#menuu ul li {display: inline;}

.a a {
	text-decoration: none;
	color: white;
}

	</style>
</head>
<body>
<div id="menuu">
	<ul>
 		<div class="a">
    		<li><a href="compras.html">Serviços</a></li>
    		<li><a href="contato.html">Contato</a></li>
    		<li><a href="login.html">Login</a></li>
    	</div>
</div>
<br>
</body>
</html>