<html lang="pt-br" >
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>  
        <link rel="stylesheet" type="text/css" href="/static/inicio.css">  
    </head>
    <body>
        <form action = "/listar_pessoas">
            <button>Listar</button>
        </form>
        <br>
        <form action = "/form_login">
            <button>Login</button>
        </form>
        <br>
        <form action = "/logout">
            <button>Logout</button>
        </form>
    </body>
</html>