button {
    background-color: grey;
    width: 80px;
    height: 35px;
}

form{
    font-size: 16px;
    background: #9C9C9C;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: #FFF;
    
    
}

h5 {
    font-family: fantasy;
    color: black;
}
img {
    width: 30px;
    height: 30px;
}
fieldset {
    border:2px solid gray;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;  
    max-width:500px;
    padding:16px;
}
label {
    color: gray;
}
#menuu {
    height: 60px;
    background-color: black;
    color: white;
} 
  
#menuu ul {
    padding:25px;
    margin:20px;
    list-style:none;
    font-size: 20px;
    color: white;
    word-spacing: 35px;
    font-family:"Yu Gothic Light";
    float: right;
    text-decoration: none;
    position: relative;
    top: -30px;
}
  
#menuu ul li {
    display: inline;
}
  
.a a {
    text-decoration: none;
    color: white;
}
  